@if (!author) {
    <div class="alert alert-danger text-center">No author found!</div>
    <button mat-flat-button color="primary" (click)="goBack()">Back</button>
} @else {
    <form 
    [formGroup]="form"
    class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstname" placeholder="Enter teacher firstname"/>
        @if (form.get("firstname").invalid && form.get("firstname").touched) {
          <mat-error>Firstname is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastname" placeholder="Enter teacher lastname"/>
        @if (form.get("lastname").invalid && form.get("lastname").touched) {
          <mat-error>Lastname is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Biography</mat-label>
        <input
          matInput
          type="text"
          formControlName="biography" placeholder="Biography"/>
      </mat-form-field>
    </form>
    <button mat-flat-button role="button" color="primary" class="d-inline" (click)="updateAuthor()">Update</button>
    <button mat-flat-button role="button" color="primary" class="d-inline m-lg-2" (click)="goBack()">Back</button>
}