<h4>Add Book To Author</h4>

<form 
    [formGroup]="form"
    class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Course</mat-label>
        <mat-select
        formControlName="course">
          @for (book of books; track book) {
            <mat-option [value]="book.id">{{book.title}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
</form>
<button mat-flat-button role="button" color="primary" class="d-inline" (click)="addBook()">Add</button>
<button mat-flat-button role="button" color="primary" class="d-inline m-lg-2" (click)="goBack()">Back</button>