<form 
    [formGroup]="form"
    class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Book</mat-label>
        <input
          matInput
          type="text"
          formControlName="title" placeholder="Enter book title"/>
        @if (form.get("title").invalid && form.get("title").touched) {
          <mat-error>Book is required</mat-error>
        }
    </mat-form-field>
</form>
<button mat-flat-button role="button" color="primary" class="d-inline" (click)="insertBook()">Insert</button>
<button mat-flat-button role="button" color="primary" class="d-inline m-lg-2" (click)="goBack()">Back</button>