<form 
    [formGroup]="form"
    class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Book</mat-label>
        <input
          matInput
          type="text"
          formControlName="title" placeholder="Enter book title"/>
        @if (form.get("title").invalid && form.get("title").touched) {
          <mat-error>Book is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          formControlName="quantity" placeholder="Enter book quantity"/>
        @if (form.get("quantity").invalid && form.get("quantity").touched) {
          <mat-error>Quantity is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          formControlName="description" placeholder="Enter book description"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <mat-select
        formControlName="author">
          @for (author of authors; track author) {
            <mat-option [value]="author.id">{{author.lastname}}</mat-option>
          }
        </mat-select>
        @if (form.get("author").invalid && form.get("author").touched) {
          <mat-error>Author is required</mat-error>
        }
    </mat-form-field>
</form>
<!-- <button mat-flat-button role="button" color="primary" class="d-inline" (click)="insertNewAuthor()">Insert New Author</button> -->
<button mat-flat-button role="button" color="primary" class="d-inline" (click)="insertBook()">Insert</button>
<button mat-flat-button role="button" color="primary" class="d-inline m-lg-2" (click)="goBack()">Back</button>